<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company </title>
</head>
<body>
<h1>Welcome :</h1>
<h2>Username :</h2>{{ account.username }}
<h2>Category :</h2>{{ account.category }}
<pre>

</pre>

<table border="2" align="center" style="height:200px">
    <tr>
        <th>First Name</th>
        <td>{{ account.firstname }}</td>
    </tr>

    <tr>
        <th>Last Name</th>
        <td>{{ account.lastname }}</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>{{account.age}}</td>

    <tr>
        <th>Mobile No.</th>
        <td>{{ account.mobile }}</td>
    </tr>
    <tr>
        <th>State</th>
        <td>{{ account.state }}</td>
    </tr>

    <tr>
        <th>City</th>
        <td>{{ account.city }}</td>
    </tr>

    </tr>
        <tr>
        <th>Email Address</th>
        <td>{{ account.email }}</td>
    </tr>

</table>
<a href="#" class="btn btn-primary">Edit Account</a>
<a href="#" class="btn btn-primary">Add Information</a>


</body>
</html>